* {
    font-family: Arial;
}

body {
    background-color: white;
    color: black;
    padding-bottom: 20px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.input-label {
    margin-bottom: 4px;
}

/* Allows the input area to expand naturally as users enter longer articles. */
.article-text-input {
    min-height: 10lh;
    field-sizing: content;
    width: 1000px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.submit-button {
    padding: 6px 9px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.result-display {
    background-color: black;
    margin-top: 5px;
    margin-bottom: 21px;
    padding: 5px;
}

.result-label {
    margin: 0px;
    color: white;
}

.result-score {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.confidence-guide {
    background-color: black;
    color: white;
    padding: 5px;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.section-element {
    margin: 0px;
}